In [23]:
import pandas as pd

In [24]:
notlar = pd.read_csv("../veri_seti/grades.csv")
notlar

,Last name,"""First name""","""SSN""","""Test1""","""Test2""","""Test3""","""Test4""","""Final""","""Grade"""
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
3,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-"""
4,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""
5,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-"""
6,Noshow,"""Cecil""","""345-67-8901""",45.0,11.0,-1.0,4.0,43.0,"""F"""
7,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+"""
8,Airpump,"""Andrew""","""223-45-6789""",49.0 1.0,90.0,100.0,83.0,"""A""",NaN
9,Backus,"""Jim""","""143-12-1234""",48.0,1.0,97.0,96.0,97.0,"""A+"""
10,Carnivore,"""Art""","""565-89-0123""",44.0,1.0,80.0,60.0,40.0,"""D+"""
11,Dandy,"""Jim""","""087-75-4321""",47.0,1.0,23.0,36.0,45.0,"""C+"""
12,Elephant,"""Ima""","""456-71-9012""",45.0,1.0,78.0,88.0,77.0,"""B-"""
13,Franklin,"""Benny""","""234-56-2890""",50.0,1.0,90.0,80.0,90.0,"""B-"""
14,George,"""Boy""","""345-67-3901""",40.0,1.0,11.0,-1.0,4.0,"""B"""
15,Heffalump,"""Harvey""","""632-79-9439""",30.0,1.0,20.0,30.0,40.0,"""C"""

In [25]:
notlar.head(3)

,Last name,"""First name""","""SSN""","""Test1""","""Test2""","""Test3""","""Test4""","""Final""","""Grade"""
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""

In [26]:
notlar.columns = ["Soyisim", "İsim", "SSN", "Test1", "Test2", "Test3", "Test4", "Final", "Sonuç"]

In [30]:
print(notlar["Soyisim"])

0       Alfalfa
1        Alfred
2         Gerty
3       Android
4       Bumpkin
5        Rubble
6        Noshow
7          Buff
8       Airpump
9        Backus
10    Carnivore
11        Dandy
12     Elephant
13     Franklin
14       George
15    Heffalump
Name: Soyisim, dtype: object

In [33]:
print(notlar["Final"])

0         49.0
1         48.0
2         44.0
3         47.0
4         45.0
5         46.0
6         43.0
7         50.0
8          "A"
9         97.0
10        40.0
11        45.0
12        77.0
13        90.0
14         4.0
15        40.0
Name: Final, dtype: object

In [34]:
notlar.iloc[2]

Soyisim                 Gerty
İsim                 "Gramma"
SSN             "567-89-0123"
Test1                    41.0
Test2                    80.0
Test3                    60.0
Test4                    40.0
Final                    44.0
Sonuç                     "C"
Name: 2, dtype: object

In [35]:
notlar[0:10]

,Soyisim,İsim,SSN,Test1,Test2,Test3,Test4,Final,Sonuç
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
3,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-"""
4,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""
5,Rubble,"""Betty""","""234-56-7890""",44.0,90.0,80.0,90.0,46.0,"""C-"""
6,Noshow,"""Cecil""","""345-67-8901""",45.0,11.0,-1.0,4.0,43.0,"""F"""
7,Buff,"""Bif""","""632-79-9939""",46.0,20.0,30.0,40.0,50.0,"""B+"""
8,Airpump,"""Andrew""","""223-45-6789""",49.0 1.0,90.0,100.0,83.0,"""A""",NaN
9,Backus,"""Jim""","""143-12-1234""",48.0,1.0,97.0,96.0,97.0,"""A+"""