# Sqlite

In [13]:
import sqlite3

In [14]:
connection = sqlite3.connect("chinook.db")

In [15]:
cursor = connection.execute(""" 
select * from Customers
""")

In [16]:
for row in cursor:
    print("Firstname: {}".format(row[1]))

Firstname: Luís
Firstname: Leonie
Firstname: François
Firstname: Bjørn
Firstname: František
Firstname: Helena
Firstname: Astrid
Firstname: Daan
Firstname: Kara
Firstname: Eduardo
Firstname: Alexandre
Firstname: Roberto
Firstname: Fernanda
Firstname: Mark
Firstname: Jennifer
Firstname: Frank
Firstname: Jack
Firstname: Michelle
Firstname: Tim
Firstname: Dan
Firstname: Kathy
Firstname: Heather
Firstname: John
Firstname: Frank
Firstname: Victor
Firstname: Richard
Firstname: Patrick
Firstname: Julia
Firstname: Robert
Firstname: Edward
Firstname: Martha
Firstname: Aaron
Firstname: Ellie
Firstname: João
Firstname: Madalena
Firstname: Hannah
Firstname: Fynn
Firstname: Niklas
Firstname: Camille
Firstname: Dominique
Firstname: Marc
Firstname: Wyatt
Firstname: Isabelle
Firstname: Terhi
Firstname: Ladislav
Firstname: Hugh
Firstname: Lucas
Firstname: Johannes
Firstname: Stanisław
Firstname: Enrique
Firstname: Joakim
Firstname: Emma
Firstname: Phil
Firstname: Steve
Firstname: Mark
Firstname: Diego
Firstname: Luis
Firstname: Manoj
Firstname: Puja

In [18]:
connection.close()

In [32]:
connection = sqlite3.connect("chinook.db")

In [33]:
cursor = connection.execute(""" 
select FirstName from Customers
""")

In [34]:
for row in cursor:
    print("Firstname: {}".format(row[0]))

Firstname: Luís
Firstname: Leonie
Firstname: François
Firstname: Bjørn
Firstname: František
Firstname: Helena
Firstname: Astrid
Firstname: Daan
Firstname: Kara
Firstname: Eduardo
Firstname: Alexandre
Firstname: Roberto
Firstname: Fernanda
Firstname: Mark
Firstname: Jennifer
Firstname: Frank
Firstname: Jack
Firstname: Michelle
Firstname: Tim
Firstname: Dan
Firstname: Kathy
Firstname: Heather
Firstname: John
Firstname: Frank
Firstname: Victor
Firstname: Richard
Firstname: Patrick
Firstname: Julia
Firstname: Robert
Firstname: Edward
Firstname: Martha
Firstname: Aaron
Firstname: Ellie
Firstname: João
Firstname: Madalena
Firstname: Hannah
Firstname: Fynn
Firstname: Niklas
Firstname: Camille
Firstname: Dominique
Firstname: Marc
Firstname: Wyatt
Firstname: Isabelle
Firstname: Terhi
Firstname: Ladislav
Firstname: Hugh
Firstname: Lucas
Firstname: Johannes
Firstname: Stanisław
Firstname: Enrique
Firstname: Joakim
Firstname: Emma
Firstname: Phil
Firstname: Steve
Firstname: Mark
Firstname: Diego
Firstname: Luis
Firstname: Manoj
Firstname: Puja

In [35]:
connection.close()

In [38]:
connection = sqlite3.connect("chinook.db")
cursor = connection.execute(""" 
select FirstName, LastName from Customers
""")
for row in cursor:
    print("Firstname: {:15}".format(row[0]), end=" ")
    print("Lastname: {:15}".format(row[1]))
connection.close()

Firstname: Luís            Lastname: Gonçalves
Firstname: Leonie          Lastname: Köhler
Firstname: François        Lastname: Tremblay
Firstname: Bjørn           Lastname: Hansen
Firstname: František       Lastname: Wichterlová
Firstname: Helena          Lastname: Holý
Firstname: Astrid          Lastname: Gruber
Firstname: Daan            Lastname: Peeters
Firstname: Kara            Lastname: Nielsen
Firstname: Eduardo         Lastname: Martins
Firstname: Alexandre       Lastname: Rocha
Firstname: Roberto         Lastname: Almeida
Firstname: Fernanda        Lastname: Ramos
Firstname: Mark            Lastname: Philips
Firstname: Jennifer        Lastname: Peterson
Firstname: Frank           Lastname: Harris
Firstname: Jack            Lastname: Smith
Firstname: Michelle        Lastname: Brooks
Firstname: Tim             Lastname: Goyer
Firstname: Dan             Lastname: Miller
Firstname: Kathy           Lastname: Chase
Firstname: Heather         Lastname: Leacock
Firstname: John            Lastname: Gordon
Firstname: Frank           Lastname: Ralston
Firstname: Victor          Lastname: Stevens
Firstname: Richard         Lastname: Cunningham
Firstname: Patrick         Lastname: Gray
Firstname: Julia           Lastname: Barnett
Firstname: Robert          Lastname: Brown
Firstname: Edward          Lastname: Francis
Firstname: Martha          Lastname: Silk
Firstname: Aaron           Lastname: Mitchell
Firstname: Ellie           Lastname: Sullivan
Firstname: João            Lastname: Fernandes
Firstname: Madalena        Lastname: Sampaio
Firstname: Hannah          Lastname: Schneider
Firstname: Fynn            Lastname: Zimmermann
Firstname: Niklas          Lastname: Schröder
Firstname: Camille         Lastname: Bernard
Firstname: Dominique       Lastname: Lefebvre
Firstname: Marc            Lastname: Dubois
Firstname: Wyatt           Lastname: Girard
Firstname: Isabelle        Lastname: Mercier
Firstname: Terhi           Lastname: Hämäläinen
Firstname: Ladislav        Lastname: Kovács
Firstname: Hugh            Lastname: O'Reilly
Firstname: Lucas           Lastname: Mancini
Firstname: Johannes        Lastname: Van der Berg
Firstname: Stanisław       Lastname: Wójcik
Firstname: Enrique         Lastname: Muñoz
Firstname: Joakim          Lastname: Johansson
Firstname: Emma            Lastname: Jones
Firstname: Phil            Lastname: Hughes
Firstname: Steve           Lastname: Murray
Firstname: Mark            Lastname: Taylor
Firstname: Diego           Lastname: Gutiérrez
Firstname: Luis            Lastname: Rojas
Firstname: Manoj           Lastname: Pareek
Firstname: Puja            Lastname: Srivastava

In [52]:
connection = sqlite3.connect("chinook.db")
cursor = connection.execute(""" 
select FirstName, LastName from Customers where country = "USA" or country  like("g%")
""")
for row in cursor:
    print("Firstname: {:15}".format(row[0]), end=" ")
    print("Lastname: {:15}".format(row[1]))
connection.close()

Firstname: Leonie          Lastname: Köhler
Firstname: Frank           Lastname: Harris
Firstname: Jack            Lastname: Smith
Firstname: Michelle        Lastname: Brooks
Firstname: Tim             Lastname: Goyer
Firstname: Dan             Lastname: Miller
Firstname: Kathy           Lastname: Chase
Firstname: Heather         Lastname: Leacock
Firstname: John            Lastname: Gordon
Firstname: Frank           Lastname: Ralston
Firstname: Victor          Lastname: Stevens
Firstname: Richard         Lastname: Cunningham
Firstname: Patrick         Lastname: Gray
Firstname: Julia           Lastname: Barnett
Firstname: Hannah          Lastname: Schneider
Firstname: Fynn            Lastname: Zimmermann
Firstname: Niklas          Lastname: Schröder