In [1]:
import sqlite3

In [10]:
connection = sqlite3.connect("chinook.db")
cursor = connection.execute("""
    select FirstName, LastName from Customers
    where Country = "USA" or Country = "Germany"
    order by FirstName asc
""")

for row in cursor:
    print("Firstname: {:10}".format(row[0]), end="")
    print("Lastname: {}".format(row[1]))

connection.close()

Firstname: Dan       Lastname: Miller
Firstname: Frank     Lastname: Harris
Firstname: Frank     Lastname: Ralston
Firstname: Fynn      Lastname: Zimmermann
Firstname: Hannah    Lastname: Schneider
Firstname: Heather   Lastname: Leacock
Firstname: Jack      Lastname: Smith
Firstname: John      Lastname: Gordon
Firstname: Julia     Lastname: Barnett
Firstname: Kathy     Lastname: Chase
Firstname: Leonie    Lastname: Köhler
Firstname: Michelle  Lastname: Brooks
Firstname: Niklas    Lastname: Schröder
Firstname: Patrick   Lastname: Gray
Firstname: Richard   Lastname: Cunningham
Firstname: Tim       Lastname: Goyer
Firstname: Victor    Lastname: Stevens

In [11]:
connection = sqlite3.connect("chinook.db")
cursor = connection.execute("""
    select FirstName, LastName from Customers
    where Country = "USA" or Country = "Germany"
    order by FirstName desc
""")

for row in cursor:
    print("Firstname: {:10}".format(row[0]), end="")
    print("Lastname: {}".format(row[1]))

connection.close()

Firstname: Victor    Lastname: Stevens
Firstname: Tim       Lastname: Goyer
Firstname: Richard   Lastname: Cunningham
Firstname: Patrick   Lastname: Gray
Firstname: Niklas    Lastname: Schröder
Firstname: Michelle  Lastname: Brooks
Firstname: Leonie    Lastname: Köhler
Firstname: Kathy     Lastname: Chase
Firstname: Julia     Lastname: Barnett
Firstname: John      Lastname: Gordon
Firstname: Jack      Lastname: Smith
Firstname: Heather   Lastname: Leacock
Firstname: Hannah    Lastname: Schneider
Firstname: Fynn      Lastname: Zimmermann
Firstname: Frank     Lastname: Harris
Firstname: Frank     Lastname: Ralston
Firstname: Dan       Lastname: Miller