In [1]:
import sqlite3

In [17]:
connection = sqlite3.connect("chinook.db")
cursor = connection.execute("""
    select Country, Count(*) from Customers
    group by Country
    order by count(*) desc
""")

for row in cursor:
    print("Count: {:2}".format(row[1]) , end=" ")
    print("Country: {}".format(row[0]))

connection.close()

Count: 13 Country: USA
Count:  8 Country: Canada
Count:  5 Country: France
Count:  5 Country: Brazil
Count:  4 Country: Germany
Count:  3 Country: United Kingdom
Count:  2 Country: Portugal
Count:  2 Country: India
Count:  2 Country: Czech Republic
Count:  1 Country: Sweden
Count:  1 Country: Spain
Count:  1 Country: Poland
Count:  1 Country: Norway
Count:  1 Country: Netherlands
Count:  1 Country: Italy
Count:  1 Country: Ireland
Count:  1 Country: Hungary
Count:  1 Country: Finland
Count:  1 Country: Denmark
Count:  1 Country: Chile
Count:  1 Country: Belgium
Count:  1 Country: Austria
Count:  1 Country: Australia
Count:  1 Country: Argentina

In [18]:
connection = sqlite3.connect("chinook.db")
cursor = connection.execute("""
    select Country, Count(*) from Customers
    group by Country having count(*) > 1
    order by count(*) desc
""")

for row in cursor:
    print("Count: {:2}".format(row[1]) , end=" ")
    print("Country: {}".format(row[0]))

connection.close()

Count: 13 Country: USA
Count:  8 Country: Canada
Count:  5 Country: France
Count:  5 Country: Brazil
Count:  4 Country: Germany
Count:  3 Country: United Kingdom
Count:  2 Country: Portugal
Count:  2 Country: India
Count:  2 Country: Czech Republic