In [1]:
import sqlite3

In [7]:
connection = sqlite3.connect("chinook.db")
cursor = connection.execute("""
    select FirstName, LastName,Country from Customers
    where Country like "u%"
    
""")

for row in cursor:
    print("Firstname: {:12}".format(row[0]) , end="")
    print("Lastname: {:12}".format(row[1]), end="")
    print("Lastname: {}".format(row[2]))

connection.close()

Firstname: Frank       Lastname: Harris      Lastname: USA
Firstname: Jack        Lastname: Smith       Lastname: USA
Firstname: Michelle    Lastname: Brooks      Lastname: USA
Firstname: Tim         Lastname: Goyer       Lastname: USA
Firstname: Dan         Lastname: Miller      Lastname: USA
Firstname: Kathy       Lastname: Chase       Lastname: USA
Firstname: Heather     Lastname: Leacock     Lastname: USA
Firstname: John        Lastname: Gordon      Lastname: USA
Firstname: Frank       Lastname: Ralston     Lastname: USA
Firstname: Victor      Lastname: Stevens     Lastname: USA
Firstname: Richard     Lastname: Cunningham  Lastname: USA
Firstname: Patrick     Lastname: Gray        Lastname: USA
Firstname: Julia       Lastname: Barnett     Lastname: USA
Firstname: Emma        Lastname: Jones       Lastname: United Kingdom
Firstname: Phil        Lastname: Hughes      Lastname: United Kingdom
Firstname: Steve       Lastname: Murray      Lastname: United Kingdom

In [9]:
connection = sqlite3.connect("chinook.db")
cursor = connection.execute("""
    select FirstName, LastName,Country from Customers
    where Country like "%y"
    
""")

for row in cursor:
    print("Firstname: {:12}".format(row[0]) , end="")
    print("Lastname: {:12}".format(row[1]), end="")
    print("Lastname: {}".format(row[2]))

connection.close()

Firstname: Leonie      Lastname: Köhler      Lastname: Germany
Firstname: Bjørn       Lastname: Hansen      Lastname: Norway
Firstname: Hannah      Lastname: Schneider   Lastname: Germany
Firstname: Fynn        Lastname: Zimmermann  Lastname: Germany
Firstname: Niklas      Lastname: Schröder    Lastname: Germany
Firstname: Ladislav    Lastname: Kovács      Lastname: Hungary
Firstname: Lucas       Lastname: Mancini     Lastname: Italy

In [11]:
connection = sqlite3.connect("chinook.db")
cursor = connection.execute("""
    select FirstName, LastName,Country from Customers
    where Country like "%a%"
    
""")

for row in cursor:
    print("Firstname: {:12}".format(row[0]) , end="")
    print("Lastname: {:12}".format(row[1]), end="")
    print("Lastname: {}".format(row[2]))

connection.close()

Firstname: Luís        Lastname: Gonçalves   Lastname: Brazil
Firstname: Leonie      Lastname: Köhler      Lastname: Germany
Firstname: François    Lastname: Tremblay    Lastname: Canada
Firstname: Bjørn       Lastname: Hansen      Lastname: Norway
Firstname: Astrid      Lastname: Gruber      Lastname: Austria
Firstname: Kara        Lastname: Nielsen     Lastname: Denmark
Firstname: Eduardo     Lastname: Martins     Lastname: Brazil
Firstname: Alexandre   Lastname: Rocha       Lastname: Brazil
Firstname: Roberto     Lastname: Almeida     Lastname: Brazil
Firstname: Fernanda    Lastname: Ramos       Lastname: Brazil
Firstname: Mark        Lastname: Philips     Lastname: Canada
Firstname: Jennifer    Lastname: Peterson    Lastname: Canada
Firstname: Frank       Lastname: Harris      Lastname: USA
Firstname: Jack        Lastname: Smith       Lastname: USA
Firstname: Michelle    Lastname: Brooks      Lastname: USA
Firstname: Tim         Lastname: Goyer       Lastname: USA
Firstname: Dan         Lastname: Miller      Lastname: USA
Firstname: Kathy       Lastname: Chase       Lastname: USA
Firstname: Heather     Lastname: Leacock     Lastname: USA
Firstname: John        Lastname: Gordon      Lastname: USA
Firstname: Frank       Lastname: Ralston     Lastname: USA
Firstname: Victor      Lastname: Stevens     Lastname: USA
Firstname: Richard     Lastname: Cunningham  Lastname: USA
Firstname: Patrick     Lastname: Gray        Lastname: USA
Firstname: Julia       Lastname: Barnett     Lastname: USA
Firstname: Robert      Lastname: Brown       Lastname: Canada
Firstname: Edward      Lastname: Francis     Lastname: Canada
Firstname: Martha      Lastname: Silk        Lastname: Canada
Firstname: Aaron       Lastname: Mitchell    Lastname: Canada
Firstname: Ellie       Lastname: Sullivan    Lastname: Canada
Firstname: João        Lastname: Fernandes   Lastname: Portugal
Firstname: Madalena    Lastname: Sampaio     Lastname: Portugal
Firstname: Hannah      Lastname: Schneider   Lastname: Germany
Firstname: Fynn        Lastname: Zimmermann  Lastname: Germany
Firstname: Niklas      Lastname: Schröder    Lastname: Germany
Firstname: Camille     Lastname: Bernard     Lastname: France
Firstname: Dominique   Lastname: Lefebvre    Lastname: France
Firstname: Marc        Lastname: Dubois      Lastname: France
Firstname: Wyatt       Lastname: Girard      Lastname: France
Firstname: Isabelle    Lastname: Mercier     Lastname: France
Firstname: Terhi       Lastname: Hämäläinen  Lastname: Finland
Firstname: Ladislav    Lastname: Kovács      Lastname: Hungary
Firstname: Hugh        Lastname: O'Reilly    Lastname: Ireland
Firstname: Lucas       Lastname: Mancini     Lastname: Italy
Firstname: Johannes    Lastname: Van der BergLastname: Netherlands
Firstname: Stanisław   Lastname: Wójcik      Lastname: Poland
Firstname: Enrique     Lastname: Muñoz       Lastname: Spain
Firstname: Mark        Lastname: Taylor      Lastname: Australia
Firstname: Diego       Lastname: Gutiérrez   Lastname: Argentina
Firstname: Manoj       Lastname: Pareek      Lastname: India
Firstname: Puja        Lastname: Srivastava  Lastname: India